---
name: frontend ci
on:
  workflow_dispatch:
  push:

jobs:
  frontend-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run Test
        run: |
          echo "Run Test"
          ./script.sh
